@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 100px;
    padding: 0 50px;
}
.title{
    flex: 1;
}
.title a{
    text-decoration: none;
}
.title a h1{
    text-transform: uppercase;
    color: #000000;
    font-size: 48px;
}
.header-menu{
    flex: 3;
}
.header-menu ul {
    display: flex;
}
.header-menu ul li{
    list-style: none;
    padding: 0 30px;
}
.header-menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
.header-icon{
    flex: 1;
    display: flex;
}
.header-icon ul {
    display: flex;
}
.header-icon ul li{
    list-style: none;
    padding: 0 30px;
}
.slide img {
    width: 100%;
}
.headline {
    text-align: center;
    margin: 40px 0;
}
.headline h2 {
    font-size: 48px;
    color: #000000;
    text-transform: uppercase;
    padding: 20px 30px;
    border: 1px solid #bebebe;
    display: inline-block;
}
ul.products {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
.product-top {
    position: relative;
    overflow: hidden;
}
.product-top .product-img {
    display: block;
}
.product-top .product-img img {
    display: block;
    height: 575px;
    object-fit: cover;
}
.product-top a.buy-now {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    bottom: -52px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}
ul.products li:hover a.buy-now{
    bottom: 0px ;
}
ul.products li:hover .product-img img{
    filter: opacity(80%);
}
.product-info{
    padding: 10px 0;
}
.product-info a{
    display: block;
    text-decoration: none;
}
.product-info a.product-name{
    font-size: 18px;
    color: #000000;
    padding: 3px 0;
}
.product-info a.product-price {
    color: red;
    padding: 2px 0;
}
